<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>两个人商城</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <style type="text/css" rel="stylesheet">
    /* 需要在 bootstrap.css 之后调用 */
    /* Fuck 15px for iPhone Start */
    .row {
      margin: 0;
    }

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
      padding: 0;
    }
    /* Fuck 15px for iPhone Over */
  </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" style="text-align: center"><h1>申请店铺</h1></div>
        <div class="row">
            <div shiro:user="" class="col-sm-6" style="text-align: center">
                <h4>看到这个说明你是个有身份的人</h4>
                <div>这是你的信息:<span shiro:principal=""></span></div>
                <div shiro:hasRole="seller"><span>你不仅是个有身份的人,还是个开了个店的人</span></div>
                <div shiro:hasRole="buyer"><span>你不仅是个有身份的人,还是个......的人</span></div>
            </div>
            <div shiro:guest="" class="col-sm-6" style="text-align: center"><h4>看到这个说明你是个游客</h4></div>
            <div id="show" class="col-sm-6" style="text-align: center">
                <a href="toIndex">前往主页</a><br/>
                <a shiro:guest="" href="toRegistration">注册界面</a><br/>
                <a shiro:guest="" href="toLogin">登陆界面</a><br/>
                <a shiro:user="" href="toCart">购物车</a><br/>
                <a shiro:user="" href="toCollect">我的收藏</a><br/>
                <a shiro:user="" href="toUser">个人中心</a><br/>
                <a shiro:hasRole="seller" href="toMyShop">我的店铺</a><br/>
                <a href="toSeller">卖家中心</a><br/>
                <a shiro:user="" href="logout">注销</a>
            </div>
        </div>
        <div id="show1" class="col-sm-6 col-sm-offset-3">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">店铺名:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" id="name" placeholder="shop's name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">店铺描述:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="description" id="description"
                                  placeholder="description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="authCode" class="col-sm-2 control-label">验证码</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="authCode" id="authCode" placeholder="authCode"
                               value="yzm"/>
                    </div>
                    <div class="col-sm-5">
                        <img id="getAuthCode"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-default" onclick="applyShop()">注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

<script type="text/javascript">
    function applyShop() {
        if (!$("#authCode").hasClass("alert-success")) {
            alert("请输入正确的验证码");
            return null;
        }
        var returnData;
        var name = $("#name").val();
        var description = $("#description").val();
        var authCode = $("#authCode").val();
        name == "" ? alert("商铺名不能为空") :
            description == "" ? alert("商店描述不能为空") :
                authCode == "" ? alert("验证码不能为空") :
                    returnData = 1;
        if (returnData != 1) {
            return null;
        }
        $.ajax({
            url: "/applyShop.do",
            type: "post",
            data: {
                "name": name,
                "description": description,
                "authCode": authCode
            },
            success: function (data) {
                //数字(申请的shopId):添加成功 --- f+ 1:商店名或面熟描述为空 10:未找到user 11:商店名已经存在 12:添加商店失败 13:添加仓库失败
                /*if (!isNaN(Number(data))) {
                    //data是纯数字
                }*/
                switch (data) {
                    case "f1" :
                        alert("商铺名或面描述不能为空");
                        break;
                    case "f3" :
                        alert("验证码错误");
                        break;
                    case "f10" : {
                        alert("登陆已失效,前往登陆");
                        window.location.href = "toLogin";
                    }
                        break;
                    case "f11" :
                        alert("商铺名已存在,请重新命名");
                        break;
                    case "f12" :
                        alert("添加商铺失败");
                        break;
                    default : {
                        alert("添加成功,前往新注册商铺界面");
                        window.location.href = "toMyShop";
                    }
                        ;
                        break;
                }
            },
            error: function (data) {

            }
        })
    }


    <!-- 获取验证码 -->
    $("#getAuthCode").click(function () {
        var url = "authCode.do?t=" + Math.random();
        this.src = url;
    }).click().show();

    $("#authCode").focus(function () {
        var $node = $(this);
        $node.removeClass("alert-success");
        $node.removeClass("alert-danger");
    })
    $("#authCode").blur(function () {
        var $node = $(this);
        var authCode = $node.val();
        $.get("isAuthCode.do?authCode=" + authCode, function (data) {
            $node.addClass(data ? "alert-success" : "alert-danger");
        })
    })
</script>
</html>