<!DOCTYPE html>
<html id="htmlR" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>两个人商城</title>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/js/layer.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <style type="text/css" rel="stylesheet">
    .col-sm-3 > div, .col-sm-3 > form {
      border: black 1px solid;
      margin-bottom: 10px;
    }

    #show1 img {
      width: 110px;
    }

    #show1 form {
      background-color: #FEF8E4;
      margin-bottom: 10px;
      padding: 5px;
      outline: 1px #000000 solid;
    }

    /* 需要在 bootstrap.css 之后调用 */
    /* Fuck 15px for iPhone Start */
    .row {
      margin: 0;
    }

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
      padding: 0;
    }

    /* Fuck 15px for iPhone Over */
  </style>
</head>
<body>
<div class="container">
  <div class="row">
    <div shiro:user="" style="text-align: center" class="col-xs-2">
      <span>已登录</span>
      <a href="logout">注销</a>
    </div>
    <div shiro:guest="" class="col-xs-3" style="text-align: left">
      <span>未登录</span><br/>
      <a shiro:guest="" href="toLogin">登陆</a>
      <a shiro:guest="" href="toRegistration">注册</a>
    </div>
    <div class="col-xs-9" style="text-align: right">
      <a href="toIndex">主页</a>
      <a shiro:user="" href="toCart">购物车</a>
      <a shiro:user="" href="toCollect">我的收藏</a>
      <a shiro:user="" href="toUser">个人中心</a>
      <br/>
      <a shiro:hasRole="seller" href="toMyShop">我的店铺</a>
      <a style="margin-right: 4px;"  href="toSeller">卖家中心</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="text-align: center"><h1>购物车</h1></div>
    <div id="show1" class="col-sm-12" style="    height: 300px;background-color: #f5f5f5;">
      <span>已选商品（不含运费）:</span>
      <span id="allMoney" style="color: #EC5328">￥0</span>
      <button style="background-color: #EC5328;color: #FFFFFF" class="btn btn-default" onclick="pay()">结算</button>
      <form class="row" th:each="cartGoodsVO : ${cart.getCartGoodsVOList()}">
        <div class="col-sm-1">
          <!--隐藏域goodsId-->
          <input th:value="${cartGoodsVO.getGoodsDTO().getGoodsId()}" id="goodsId" type="hidden"/>
          <!--隐藏域shopId-->
          <input th:value="${cartGoodsVO.getGoodsDTO().getShopId()}" id="shopId" type="hidden"/>
          <input type="checkbox" onchange="selectGoods()"/><br/>
        </div>
        <div class="col-sm-2">
          <a th:href="@{'toGoods/' + ${cartGoodsVO.getGoodsDTO().getGoodsId()}}">
            <img th:src="${cartGoodsVO.getGoodsDTO().getImageUrl()}"/>
          </a>
        </div>
        <div class="col-sm-1">
          <a th:href="@{'toGoods/' + ${cartGoodsVO.getGoodsDTO().getGoodsId()}}">
            <span th:text="${cartGoodsVO.getGoodsDTO().getName()}"></span>
          </a>
        </div>
        <div class="col-sm-1 col-sm-offset-1" style="background-color: #F5F5F5">
          <span>原价:</span>
          <del>
            <span style="color: #9C9C9C" th:text="'￥'+${cartGoodsVO.getGoodsDTO().getPrice()}"></span><br/>
          </del>
          <span>现价:</span>
          <span
              th:text="'￥'+${#numbers.formatDecimal(cartGoodsVO.getGoodsDTO().getPrice()*cartGoodsVO.getGoodsDTO().getDiscount(),0,2)}"></span><br/>
          <input class="discountMoney" type="hidden"
                 th:value="${#numbers.formatDecimal(cartGoodsVO.getGoodsDTO().getPrice()*cartGoodsVO.getGoodsDTO().getDiscount(),0,2)}"/><br/>
        </div>
        <div class="col-sm-1 col-sm-offset-1">
          <span>数量:</span><input th:value="${cartGoodsVO.getNumber()}" class="number" id="number" type="number" min="1"/><br/>
        </div>
        <div class="col-sm-1 col-sm-offset-1">
          <span>金额：</span><br/>
          <span id="allMoneyOne" th:text="'￥'+${#numbers.formatDecimal(cartGoodsVO.getGoodsDTO().getPrice()*cartGoodsVO.getGoodsDTO().getDiscount()*cartGoodsVO.getNumber(),0,2)}"></span><br/>
        </div>
        <div class="col-sm-1 col-sm-offset-1">
          <a href="javascript:;" th:onclick="'deleteCartGoods('+${cartGoodsVO.getCartGoodsId()}+')'">移除</a>
        </div>
        <!--<span>商品类型:</span><span th:text="${cartGoodsVO.getGoodsDTO().getDiscount()}"></span><br/>-->
      </form>
    </div>
  </div>
</div>
</body>
<script src="/util/myUtils.js"></script>
<script type="text/javascript" th:inline="Javascript">
    function deleteCartGoods(cartGoodsId) {
        if (!confirm("确认删除?")) {
            return null;
        }
        $.ajax({
            url: "cartGoodsDelete.do/" + cartGoodsId,
            type: "delete",
            success: function (data) {
                data == 0 ? layer.msg("删除失败") : layer.msg("删除成功");
                window.location.reload();
            },
            error: function (data) {

            }
        })
    }

    function selectGoods() {
        var allMoney = 0;
        var $divs = $("#show1 form");
        $.each($divs, function (k) {
            if ($($($divs[k])[0]).find("input[type=checkbox]")[0].checked) {
                allMoney += $($($divs[k])[0]).find("#number").val() * $($($divs[k])[0]).find(".discountMoney").val();
            }
        })
        $("#allMoney").html("￥" + allMoney);
    }

    $(".number").keyup(function () {
        var $node = $(this).parent().parent();
        var allMoney = $node.find(".discountMoney").val() * $node.find(".number").val();
        $node.find("#allMoneyOne").html("￥"+allMoney);
        selectGoods();
    })

    $(".number").change(function () {
        var $node = $(this).parent().parent();
        var allMoney = $node.find(".discountMoney").val() * $node.find(".number").val();
        $node.find("#allMoneyOne").html("￥"+allMoney);
        selectGoods();
    })

    function pay() {
        var cartVO = [[${cart}]];
        var cartGoodsVOList = [];
        var $divs = $("#show1 form");
        $.each($divs, function (k) {
            if ($($($divs[k])[0]).find("input[type=checkbox]")[0].checked) {
                var cartGoodsVO = cartVO.cartGoodsVOList[k];
                cartGoodsVO.number = $($divs[k]).find("#number").val();
                cartGoodsVOList.push(cartGoodsVO);
            }
        })
        cartVO.cartGoodsVOList = cartGoodsVOList;
        if (1 > cartGoodsVOList.length) {
            layer.msg("未选中任何商品");
            return null;
        }
        doFormRequest("toPay", "post", JSON.stringify(cartVO), "list");
    }
</script>
</html>