<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>两个人商城</title>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <style type="text/css" rel="stylesheet">
    .col-sm-3 > div {
      border: black 1px solid;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="text-align: center"><h1 th:text="${goods.getShopDTO().getName()}+'的'+${goods.getName()}"></h1></div>
    <div class="row">
      <div shiro:user="" class="col-sm-6" style="text-align: center">
        <h4>看到这个说明你是个有身份的人</h4>
        <div>这是你的信息:<span shiro:principal=""></span></div>
        <div shiro:hasRole="seller"><span>你不仅是个有身份的人,还是个开了个店的人</span></div>
        <div shiro:hasRole="buyer"><span>你不仅是个有身份的人,还是个......的人</span></div>
      </div>
      <div shiro:guest="" class="col-sm-6" style="text-align: center"><h4>看到这个说明你是个游客</h4></div>
      <div id="show" class="col-sm-6" style="text-align: center">
        <a shiro:guest="" href="../toRegistration">注册界面</a><br/>
        <a shiro:guest="" href="../toLogin">登陆界面</a><br/>
        <a shiro:user="" href="../toCart">购物车</a><br/>
        <a shiro:user="" href="../toCollect">我的收藏</a><br/>
        <a shiro:user="" href="../toUser">个人中心</a><br/>
        <a shiro:user="" href="../toSeller">卖家中心</a><br/>
        <a shiro:user="" href="logout">注销</a>
      </div>
    </div>
    <div id="show1" class="col-sm-3" style="background-color: #bff7ff">
      <div>
        <span>商品名:</span><span th:text="${goods.getName()}"></span><br/>
        <span>商品类型:</span><span th:text="${goods.getDiscount()}"></span><br/>
        <span>图片:</span><span th:text="${goods.getImageUrl()}"></span><br/>
        <span>原价:</span><span th:text="${goods.getPrice()}"></span><br/>
        <span>折扣价:</span><span th:text="${#numbers.formatDecimal(goods.getPrice()*goods.getType(),0,2)}"></span><br/>
        <a th:href="@{'../remote/shop.do/' + ${goods.getShopDTO().getShopId()}}">前往店铺</a>
        <a href="javascript:;" th:onclick="'addCartGoods('+${goods.getGoodsId()}+')'">添加到购物车</a>
        <a href="javascript:;" th:onclick="'addCollectGoods('+${goods.getGoodsId()}+')'">添加到收藏夹</a>
      </div>
    </div>
    <div id="show2" class="col-sm-3" style="background-color: #85c5ff">test2</div>
    <div id="show3" class="col-sm-3" style="background-color: #59aaff">test3</div>
    <div id="show4" class="col-sm-3" style="background-color: #3176ff">test4</div>
  </div>
  <div class="row">
    <div id="show5" class="col-sm-3" style="background-color: #d5ffbf">test5</div>
    <div id="show6" class="col-sm-3" style="background-color: #bcff84">test6</div>
    <div id="show7" class="col-sm-3" style="background-color: #93ff49">test7</div>
    <div id="show8" class="col-sm-3" style="background-color: #08ff0d">test8</div>
  </div>
</div>
</body>
<script type="text/javascript">
    // 购物车添加商品 -2请先登录 -1该商品失效 0添加失败 1添加成功
    function addCartGoods(goodsId) {
        $.ajax({
            url: "../addCartGoods.do",
            type: "post",
            data: {
                "goodsId": goodsId
            },
            success: function (data) {
                if (data == 1) {
                    alert("添加成功")
                } else {
                    if (data == -2) {
                        alert("请先登录");
                        window.location.href="../toLogin";
                        return null;
                    }
                    data == 0 ? alert("添加失败") :
                        data == -1 ? alert("商品已经失效") : alert("商品已经添加");
                }
            },
            error: function (data) {
            }
        })
    }

    function addCollectGoods(goodsId) {
        $.ajax({
            url: "../addCollectGoods.do",
            type: "post",
            data: {
                "goodsId": goodsId
            },
            success: function (data) {
                if (data == 1) {
                    alert("添加成功")
                } else {
                    if (data == -2) {
                        alert("请先登录");
                        window.location.href="../toLogin";
                        return null;
                    }
                    data == 0 ? alert("添加失败") :
                        data == -1 ? alert("商品已经失效") : alert("商品已经添加");
                }
            },
            error: function (data) {

            }
        })
    }
</script>
</html>