<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>两个人商城</title>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/js/layer.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <script src="/util/myUtils.js"></script>
  <script src="/js/bootstrap-paginator.min.js"></script>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <style type="text/css" rel="stylesheet">
    /* 需要在 bootstrap.css 之后调用 */
    .row {
      margin: 0;
    }

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
      padding: 0;
    }

    html {

    }

    .goodsDiv {
      height: 200px;
      padding: 24px 0px;
      margin: 0px 10px;
    }

    .goodsDiv:hover {
      opacity: 0.7;
      outline: solid #FF0036 1px;
    }

    .goodsImg {
      width: 90%;
    }

    .price {
      color: #FF0036;
      font-size: 18px;
    }

    #show1 a:hover, #show2 a:hover {
      text-decoration: none;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="row">
    <div shiro:user="" style="text-align: center" class="col-xs-2">
      <span>已登录</span>
      <a href="logout">注销</a>
    </div>
    <div shiro:guest="" class="col-xs-3" style="text-align: left">
      <span>未登录</span><br/>
      <a shiro:guest="" href="toLogin">登陆</a>
      <a shiro:guest="" href="toRegistration">注册</a>
    </div>
    <div class="col-xs-9" style="text-align: right">
      <a href="toIndex">主页</a>
      <a shiro:user="" href="toCart">购物车</a>
      <a shiro:user="" href="toCollect">我的收藏</a>
      <a shiro:user="" href="toUser">个人中心</a>
      <br/>
      <a shiro:hasRole="seller" href="toMyShop">我的店铺</a>
      <a style="margin-right: 4px;"  href="toSeller">卖家中心</a>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12" style="text-align: center"><h1>主页</h1></div>
    <div class="row">
      <div style="margin-bottom: 20px" class="col-sm-12">
        <form class="form-inline" action="/toIndex" method="get">
          <div class="form-group col-sm-4">
            <div class="input-group">
              <select class="form-control" name="findType" id="findType">
                <option value="goods">商品</option>
                <option value="shop">店铺</option>
              </select>
              <div class="input-group-addon">:</div>
              <input type="text" th:value="${content}" class="form-control" name="content" id="content"/>
            </div>
          </div>
          <div class="col-sm-2"><input type="submit" class="btn btn-default" value="查询"/></div>
        </form>
      </div>
      <div id="show1" class="col-sm-9" style="background-color: #f5f5f5;">
        <div class="row" style="height: 456px">
          <div class="text-center col-sm-4 col-xs-6" th:each="good : ${goods.getList()}">
            <a th:href="@{'toGoods/' + ${good.getGoodsId()}}">
              <div class="center-block goodsDiv">
                <div><img class="goodsImg" th:src="${good.getImageUrl()}"/></div>
                <div style="position: relative;bottom: -20px;">
                  <span th:text="${good.getName()}"></span><br/>
                  <span class="price"
                        th:text="'￥' + ${#numbers.formatDecimal(good.getPrice()*good.getDiscount()/10,0,2)}"></span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="row col-sm-12 text-center">
          <ul id='goodsPageNumber'></ul>
        </div>
      </div>

      <div id="show2" class="col-sm-3 row" style="background-color: #ebebeb">
        <div class="text-center col-sm-12" th:each="shop : ${shops.getList()}">
          <a th:href="@{'toShop/' + ${shop.getShopId()}}">
            <div class="center-block goodsDiv">
              <div><img class="goodsImg" src="img/彼岸图网/58.jpg"/></div>
              <div>
                <span th:text="${shop.getName()}"></span><br/>
                <span th:text="${shop.getDescription()}"></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" th:inline="Javascript">
    //<![CDATA[
    $(function () {
        $("#findType").val([[${findType}]]);
        var pageInfo = [[${goods}]];
        var element = $('#goodsPageNumber');
        var options = {
            bootstrapMajorVersion: 3,
            currentPage: [[${goods.pageNum}]],//当前页
            numberOfPages: 5,//每次展示多少页
            totalPages: [[${goods.pages}]],//总页数
            size: 'small',//大小
            pageUrl: function (type, page, current) {//访问连接
                // return "toIndex?pageNum=" + page;
                return "toIndex?pageNum=" + page + "&findType=goods" + "&content=" + $("#content").val();
            },
            itemTexts: function (type, page, current) { //样式文字设置
                switch (type) {
                    case "first":
                        return "首页";
                    case "prev":
                        return "前一页";
                    case "next":
                        return "下一页";
                    case "last":
                        return "最后";
                    case "page":
                        return "" + page;
                }
            },
            tooltipTitles: function (type, page, current) { //提示框，当鼠标放上去给提示
                switch (type) {
                    case "first":
                        return "首页";
                    case "prev":
                        return "上一页";
                    case "next":
                        return "下一页";
                    case "last":
                        return "尾页";
                    default :
                        return "第" + page + "页";

                }
            },
            useBootstrapTooltip: true,
            onPageClicked: function (e, originalEvent, type, page) {
                $('#alert-content').text("点击页数时，触发该函数, type: " + type + " page: " + page);
            },
            onPageChanged: function (e, oldPage, newPage) {
                $('#alert-content').text("当页面改变时，触发该函数, old: " + oldPage + " new: " + newPage);
            }
        }
        element.bootstrapPaginator(options);
    });

    function submit() {
        var test = "{'cartGoodsVOList':[{'cartDTO':{'cartGoods':1,'cartId':1,'userId':1},'cartGoodsId':2,'cartGoodsTime':null,'goodsDTO':{'discount':1.0,'goodsId':2,'imageUrl':null,'name':'\u5A03\u54C8\u54C8','price':4.0,'shopId':1,'showTime':null,'type':1},'number':1,'price':3.0},{'cartDTO':{'cartGoods':1,'cartId':1,'userId':1},'cartGoodsId':11,'cartGoodsTime':null,'goodsDTO':{'discount':0.8,'goodsId':1,'imageUrl':'','name':'\u53EF\u4E50','price':3.4,'shopId':1,'showTime':null,'type':1},'number':1,'price':null}],'cartId':1,'userDTO':{'avatarUrl':null,'birthday':'1983-04-22T00:00:00.000+08:00','email':'73625@qq.com','gender':1,'homeaddress':'\u56DB\u5DDD\u6210\u90FD','liveaddress':'\u5E7F\u4E1C\u6DF1\u5733','money':4000.0,'nickname':'\u4E24\u4E2A\u4EBA','password':'user','paymentPassword':'888888','phone':'17263527163','realName':'\u9646\u9E3F\u5B87','userId':1,'username':'user'}}";
        console.log(doFormRequest("test.do", "put", test, null, null));
    }

    //]]>
</script>
</body>
</html>
