<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>两个人商城</title>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <style type="text/css" rel="stylesheet">
    .col-sm-3 > div, .col-sm-3 > form {
      border: black 1px solid;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="text-align: center"><h1 th:text="${myShopVOList.get(0).getName()}"></h1></div>
    <div class="row">
      <div shiro:user="" class="col-sm-6" style="text-align: center">
        <h4>看到这个说明你是个有身份的人</h4>
        <div>这是你的信息:<span shiro:principal=""></span></div>
        <div shiro:hasRole="seller"><span>你不仅是个有身份的人,还是个开了个店的人</span></div>
        <div shiro:hasRole="buyer"><span>你不仅是个有身份的人,还是个......的人</span></div>
      </div>
      <div shiro:guest="" class="col-sm-6" style="text-align: center"><h4>看到这个说明你是个游客</h4></div>
      <div id="show" class="col-sm-6" style="text-align: center">
        <a href="toIndex">前往主页</a><br/>
        <a shiro:guest="" href="toRegistration">注册界面</a><br/>
        <a shiro:guest="" href="toLogin">登陆界面</a><br/>
        <a shiro:user="" href="toCart">购物车</a><br/>
        <a shiro:user="" href="toCollect">我的收藏</a><br/>
        <a shiro:user="" href="toUser">个人中心</a><br/>
        <a href="toSeller">卖家中心</a><br/>
        <a shiro:user="" href="logout">注销</a>
      </div>
    </div>
    <div id="show2" class="col-sm-6" style="background-color: #85c5ff">
      <form th:each="shopVO : ${myShopVOList}" class="form-horizontal">
        <a th:href="@{'toMyShopGoods/' + ${shopVO.getShopId()}}">前往</a><br/>
        <!--隐藏域 shopId-->
        <input th:value="${shopVO.getShopId()}" type="hidden" id="shopId" name="shopId"/>
        <!--隐藏域 put方法-->
        <input type="hidden" name="_method" value="put"/>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">店铺名:</label>
          <div class="col-sm-10">
            <input th:value="${shopVO.getName() != null ? shopVO.getName() : ''}" type="text" class="form-control"
                   name="name" id="name" placeholder="shop's name"/>
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="col-sm-2 control-label">店铺描述:</label>
          <div class="col-sm-10">
            <input th:value="${shopVO.getDescription() != null ? shopVO.getDescription() : ''}" type="text"
                   class="form-control"
                   name="description" id="description" placeholder="shop's description"/>
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="col-sm-2 control-label">店铺资产:</label>
          <div class="col-sm-10">
            <span th:text="${shopVO.getMoney() != null ? shopVO.getMoney() : ''}" class="form-control"
                   name="money" id="money" placeholder="shop's money"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-default" th:onclick="'changeShop(this)'">保存修改
            </button>
            <button type="button" class="btn btn-default" th:onclick="'deleteShop('+${shopVO.getShopId()}+')'">
              删除此店
            </button>
            <select th:value="${shopVO.getState()}"
                    th:onchange="'changeShopState('+${shopVO.getShopId()}+',this)'"
                    class="btn btn-default" name="state" id="state">
              <option th:unless="${shopVO.getState()}" th:selected="${shopVO.getState() == 0} ? true : false"
                      value="0">
                等待审核
              </option>
              <option th:if="${shopVO.getState()}" th:selected="${shopVO.getState() == 1} ? true : false"
                      value="1">
                正常营业
              </option>
              <option th:if="${shopVO.getState()}" th:selected="${shopVO.getState() == 2} ? true : false"
                      value="2">
                暂停营业
              </option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div id="show3" class="col-sm-3" style="background-color: #59aaff">test3</div>
    <div id="show4" class="col-sm-3" style="background-color: #3176ff">test4</div>
  </div>
  <div class="row">
    <div id="show5" class="col-sm-3" style="background-color: #d5ffbf">test5</div>
    <div id="show6" class="col-sm-3" style="background-color: #bcff84">test6</div>
    <div id="show7" class="col-sm-3" style="background-color: #93ff49">test7</div>
    <div id="show8" class="col-sm-3" style="background-color: #08ff0d">test8</div>
  </div>
</div>
</body>
<script type="text/javascript">
    function changeShop(node) {
        var formData = $(node).parent().parent().parent().serialize();
        $.ajax({
            url: "shopUpdate.do",
            type: "put",
            data: formData,
            success: function (data) {
                //1:修改成功 --- f+ 1:shopId为空 2:session中userId为空 10:未找到shop 11:修改失败 12:没权限修改
                switch (data) {
                    case "1": {
                        alert("修改成功");
                        window.location.reload();
                        return null;
                    }
                        break;
                    case "f1":
                        alert("未正确传入参数");
                        break;
                    case "f2":
                        alert("登录已失效,请先登录");
                        break;
                    case "f10":
                        alert("未正确找到商店,请正确操作");
                        break;
                    case "f11":
                        alert("修改失败");
                        break;
                    case "f12":
                        alert("不能改变此状态");
                        break;
                    default :
                        ;
                        break;
                }

            },
            error: function (data) {

            }
        })
    }

    function changeShopState(shopId) {
        var shopState = $("#state").val();
        $.ajax({
            url: "shopUpdate.do",
            type: "post",
            data: {
                "_method": "put",
                "shopId": shopId,
                "state": shopState
            },
            success: function (data) {
                //1:修改成功 --- f+ 1:shopId为空 2:session中userId为空 10:未找到shop 11:修改失败 12:没权限修改
                switch (data) {
                    case "1": {
                        alert("修改成功");
                        window.location.reload();
                        return null;
                    }
                        break;
                    case "f1":
                        alert("未正确传入参数");
                        break;
                    case "f2":
                        alert("登录已失效,请先登录");
                        break;
                    case "f10":
                        alert("未正确找到商店,请正确操作");
                        break;
                    case "f11":
                        alert("修改失败");
                        break;
                    case "f12":
                        alert("不能改变此状态");
                        break;
                    default :
                        ;
                        break;
                }

            },
            error: function (data) {

            }
        })
    }

    function deleteShop(shopId) {
        if (!confirm("确认删除?")) {
            return null;
        }
        $.ajax({
            url: "deleteShop.do/" + shopId,
            type: "post",
            data: {
                "_method": "delete"
            },
            success: function (data) {
                // 0删除失败 1删除成功 2未登录 3.参数shopId为空
                switch (data) {
                    case 0 :
                        alert("删除失败");
                        break;
                    case 1 : {
                        alert("删除成功");
                        window.location.reload();
                    }
                        break;
                    case 2 : {
                        alert("未登录,请先登录");
                        window.location.href = "toLogin";
                    }
                        break;
                    case 3 :
                        alert("操作异常");
                        break;
                    default : break;
                }

            },
            error: function (data) {

            }
        })
    }

    //    has-success has-warning has-error
</script>
</html>