<!DOCTYPE html>
<html id="htmlR" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>两个人商城</title>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/js/layer.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <style type="text/css" rel="stylesheet">
    .col-sm-3 > div, .col-sm-3 > form {
      border: black 1px solid;
      margin-bottom: 10px;
    }

    /* 需要在 bootstrap.css 之后调用 */
    /* Fuck 15px for iPhone Start */
    .row {
      margin: 0;
    }

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
      padding: 0;
    }

    /* Fuck 15px for iPhone Over */
  </style>
</head>
<body>
<div class="container">
  <div class="row">
    <div shiro:user="" style="text-align: center" class="col-xs-2">
      <span>已登录</span>
      <a href="../logout">注销</a>
    </div>
    <div shiro:guest="" class="col-xs-3" style="text-align: left">
      <span>未登录</span><br/>
      <a shiro:guest="" href="../toLogin">登陆</a>
      <a shiro:guest="" href="../toRegistration">注册</a>
    </div>
    <div class="col-xs-9" style="text-align: right">
      <a href="../toIndex">主页</a>
      <a shiro:user="" href="../toCart">购物车</a>
      <a shiro:user="" href="../toCollect">我的收藏</a>
      <a shiro:user="" href="../toUser">个人中心</a>
      <br/>
      <a shiro:hasRole="seller" href="../toMyShop">我的店铺</a>
      <a style="margin-right: 4px;"  href="../toSeller">卖家中心</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="text-align: center"><h1>我的订单</h1></div>
    <div id="show1" class="col-sm-3" style="background-color: #bff7ff">
      <h2>未付款</h2>
      <form th:if="${orderVO.getState() == -1}" th:each="orderVO : ${orderVOListByUserId}">
        <a th:href="@{'../toGoods/' + ${orderVO.getGoodsDTO().getGoodsId()}}">前往</a><br/>
        <!--隐藏域goodsId-->
        <input th:value="${orderVO.getGoodsDTO().getGoodsId()}" id="goodsId" type="hidden"/>
        <!--隐藏域shopId-->
        <input th:value="${orderVO.getGoodsDTO().getShopId()}" id="shopId" type="hidden"/>
        <input type="hidden" id="choose"/>
        <span>商品名:</span><span th:text="${orderVO.getGoodsDTO().getName()}"></span><br/>
        <span>商品类型:</span><span th:text="${orderVO.getGoodsDTO().getDiscount()}"></span><br/>
        <span>图片:</span><span th:text="${orderVO.getGoodsDTO().getImageUrl()}"></span><br/>
        <span>单价:</span><span
          th:text="${#numbers.formatDecimal(orderVO.getGoodsDTO().getPrice(),0,2)}"></span><br/>
        <span>数量:</span><span id="number" th:text="${orderVO.getAmount()}"/><br/>
      </form>
    </div>
    <div id="show2" class="col-sm-3" style="background-color: #85c5ff">
      <h2>待发货</h2><!--orderVOListByUserId-->
      <div th:if="${orderVO.getSendGoods() == 0}" th:unless="${orderVO.getState() == -1}"
           th:each="orderVO : ${orderVOListByUserId}">
        <span>商品名:</span><span th:text="${orderVO.getGoodsDTO().getName()}"></span><br/>
        <span>商品类型:</span><span th:text="${orderVO.getGoodsDTO().getDiscount()}"></span><br/>
        <span>图片:</span><span th:text="${orderVO.getGoodsDTO().getImageUrl()}"></span><br/>
        <span>单价:</span><span
          th:text="${#numbers.formatDecimal(orderVO.getGoodsDTO().getPrice(),0,2)}"></span><br/>
        <span>数量:</span><span th:text="${orderVO.getAmount()}"/><br/>
        <span>发货编号:</span><input type="number"/>
        <a href="javascript:;" th:onclick="'sendGoods('+${orderVO.getOrderId()}+',this)'">确认发货</a>
      </div>
    </div>
    <div id="show3" class="col-sm-3" style="background-color: #59aaff">
      <h2>待收货</h2>
      <div th:if="${(orderVO.getConfirm()+orderVO.getSendGoods()) == 1}"
           th:each="orderVO : ${orderVOListByUserId}">
        <span>商品名:</span><span th:text="${orderVO.getGoodsDTO().getName()}"></span><br/>
        <span>商品类型:</span><span th:text="${orderVO.getGoodsDTO().getDiscount()}"></span><br/>
        <span>图片:</span><span th:text="${orderVO.getGoodsDTO().getImageUrl()}"></span><br/>
        <span>单价:</span><span
          th:text="${#numbers.formatDecimal(orderVO.getGoodsDTO().getPrice()*orderVO.getGoodsDTO().getType(),0,2)}"></span><br/>
        <span>数量:</span><span th:text="${orderVO.getAmount()}"/><br/>
        <span>发货编号:</span><span th:text="${orderVO.getSendGoodsId()}"></span><br/>
      </div>
    </div>
    <div id="show4" class="col-sm-3" style="background-color: #3176ff">
      <h2>待评价</h2>
      <div th:if="${purchasedVO.getEvaluation() == 0}" th:each="purchasedVO : ${purchasedVOList}">
        <span>商品名:</span><span th:text="${purchasedVO.getOrderVO().getGoodsDTO().getName()}"></span><br/>
        <span>商品类型:</span><span th:text="${purchasedVO.getOrderVO().getGoodsDTO().getDiscount()}"></span><br/>
        <span>图片:</span><span th:text="${purchasedVO.getOrderVO().getGoodsDTO().getImageUrl()}"></span><br/>
        <span>单价:</span><span
          th:text="${#numbers.formatDecimal(purchasedVO.getOrderVO().getGoodsDTO().getPrice()*purchasedVO.getOrderVO().getGoodsDTO().getType(),0,2)}"></span><br/>
        <span>数量:</span><span th:text="${purchasedVO.getOrderVO().getAmount()}"/><br/>
        <span>发货编号:</span><span th:text="${purchasedVO.getOrderVO().getSendGoodsId()}"></span><br/>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="show5" class="col-sm-3" style="background-color: #d5ffbf">
      <h2>退款订单</h2>
    </div>
    <div id="show6" class="col-sm-3" style="background-color: #bcff84">test6</div>
    <div id="show7" class="col-sm-3" style="background-color: #93ff49">
      <h2>购买记录</h2>
      <div th:each="purchasedVO : ${purchasedVOList}">
        <span>商品名:</span><span th:text="${purchasedVO.getOrderVO().getGoodsDTO().getName()}"></span><br/>
        <span>商品类型:</span><span th:text="${purchasedVO.getOrderVO().getGoodsDTO().getDiscount()}"></span><br/>
        <span>图片:</span><span th:text="${purchasedVO.getOrderVO().getGoodsDTO().getImageUrl()}"></span><br/>
        <span>单价:</span><span
          th:text="${#numbers.formatDecimal(purchasedVO.getOrderVO().getGoodsDTO().getPrice()*purchasedVO.getOrderVO().getGoodsDTO().getType(),0,2)}"></span><br/>
        <span>数量:</span><span th:text="${purchasedVO.getOrderVO().getAmount()}"/><br/>
        <span>评价:</span>
        <p th:if="${purchasedVO.getEvaluation() == 1}" th:text="${purchasedVO.getEvaluationText()}"></p><br/>
        <span>发货编号:</span><span th:text="${purchasedVO.getOrderVO().getSendGoodsId()}"></span><br/>
        <p th:if="${purchasedVO.getEvaluation() == 0}" th:text="未评价"></p>
      </div>
    </div>
    <div id="show8" class="col-sm-3" style="background-color: #08ff0d">test8</div>
  </div>
</div>
</body>
<script src="/util/myUtils.js"></script>
<script type="text/javascript" th:inline="Javascript">
    function sendGoods(orderId, node) {
        var $node = $(node);
        var sendGoodsId = $node.parent().find("input").val();
        if (sendGoodsId == null || sendGoodsId == "") {
            layer.msg("请填写发货单号");
            return null;
        }
        $.ajax({
            url: "../sendGoods.do",
            type: "put",
            data: {
                "orderId": orderId,
                "sendGoodsId": sendGoodsId
            },
            success: function (data) {
                //0失败 1成功 --- f+ null:未登录 0:orderId为空,1:sendGoodsId为空
                switch (data) {
                    case "f": {
                        layer.msg("未登录,前往登陆界面");
                        window.location.href = "../toLogin";
                    }
                        ;
                        break;
                    case "f0":
                        layer.msg("请正常操作");
                        ;
                        break;
                    case "f1":
                        layer.msg("请填写发货单号");
                        ;
                        break;
                    case "0" :
                        layer.msg("发货失败");
                        break;
                    case "1" : {
                        layer.msg("发货成功");
                        window.location.reload();
                    }
                        ;
                        break;
                    default :
                        layer.msg("不知原因");
                        break;
                }
            },
            error: function (data) {
                console.log(data);
            }
        })

    }
</script>
</html>