<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>两个人商城</title>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="text-align: center"><h1>这是支付界面</h1></div>
    <div class="row">
      <div shiro:user="" class="col-sm-6" style="text-align: center">
        <h4>看到这个说明你是个有身份的人</h4>
        <div>这是你的信息:<span shiro:principal=""></span></div>
        <div shiro:hasRole="seller"><span>你不仅是个有身份的人,还是个开了个店的人</span></div>
        <div shiro:hasRole="buyer"><span>你不仅是个有身份的人,还是个......的人</span></div>
      </div>
      <div shiro:guest="" class="col-sm-6" style="text-align: center"><h4>看到这个说明你是个游客</h4></div>
      <div id="show" class="col-sm-6" style="text-align: center">
        <a href="toIndex">前往主页</a><br/>
        <a shiro:guest="" href="toRegistration">注册界面</a><br/>
        <a shiro:user="" href="toCart">购物车</a><br/>
        <a shiro:user="" href="toCollect">我的收藏</a><br/>
        <a shiro:user="" href="toUser">个人中心</a><br/>
        <a shiro:hasRole="seller" href="toMyShop">我的店铺</a><br/>
        <a href="toSeller">卖家中心</a><br/>
        <a shiro:user="" href="logout">注销</a>
      </div>
    </div>
    <div id="show1" class="col-sm-6 col-sm-offset-3">
      <div class="row">
        <div class="col-sm-4"><a href="javascript:;" onclick="payType(1)">两个人支付</a></div>
        <div class="col-sm-4"><a href="javascript:;" onclick="payType(2)">支付宝支付</a></div>
        <div class="col-sm-4"><a href="javascript:;" onclick="payType(3)">微信支付</a></div>
        <div class="col-sm-12">
          <h2 th:text="'需要支付' + ${#numbers.formatDecimal(all,0,2)} + '元'"></h2>
          <form class="form-horizontal" id="lgrenPay">
            <h3>两个人支付</h3>
            <div class="form-group">
              <label for="paymentPassword" class="col-sm-2 control-label">支付密码:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" name="paymentPassword" id="paymentPassword"
                       placeholder="payment_password"/>
              </div>
            </div>
            <div class="form-group">
              <label for="authCode" class="col-sm-2 control-label">验证码</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="authCode" id="authCode" placeholder="authCode"
                       value="yzm"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" onclick="pay()">确认支付</button>
                <button type="button" class="btn btn-default" onclick="notPay()">取消支付</button>
              </div>
            </div>
          </form>
          <form class="form-horizontal hidden" id="aliPay">
            <h3>支付宝</h3>
          </form>
          <form class="form-horizontal hidden" id="tencentPay">
            <h3>微信支付</h3>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
</body>

<script type="text/javascript" th:inline="javascript">
    function payType(type) {
        switch (type) {
            default:
            case 1: {
                $("#lgrenPay").removeClass("hidden");
                $("#aliPay").addClass("hidden");
                $("#tencentPay").addClass("hidden");
            }
                break;
            case 2: {
                $("#lgrenPay").addClass("hidden");
                $("#aliPay").removeClass("hidden");
                $("#tencentPay").addClass("hidden");
            }
                break;
            case 3: {
                $("#lgrenPay").addClass("hidden");
                $("#aliPay").addClass("hidden");
                $("#tencentPay").removeClass("hidden");
            }
                break;
        }
    }
    function pay() {
        var returnData;
        var paymentPassword = $("#paymentPassword").val();
        var authCode = $("#authCode").val();
        paymentPassword == "" ? alert("密码不能为空") :
            authCode == "" ? alert("验证码不能为空") :
                returnData = 1;
        if (returnData != 1) {
            return null;
        }
        $.ajax({
            url: "/pay.do",
            type: "post",
            data: JSON.stringify({
                "all": [[${all}]],
                "paymentPassword": paymentPassword,
                "authCode": authCode,
                "orderIdList": [[${orderIdList}]],
                "cartGoodsIdList":[[${cartGoodsIdList}]]
            }),
            contentType: "application/json",
            success: function (data) {
                console.log(data);
                //1 支付成功 --- f+ 1:密码长度必须是6位且为数字 2:需要支付的钱不能为空 3:验证码不能为空 10:未找到用户 11:余额不足 12:扣款发生错误 13:未找到订单
                //14:未找到店铺 15:未找到店铺仓库 16:库存不足 17:店铺加钱失败 18:仓库更新失败 19:订单更新失败 20:购物车删除失败
                switch (data) {
                    case "1" : {
                        alert("支付成功");
                        window.location.href = [[${requestURL}]];
                    }break;
                    case "f1" : alert("密码长度必须是6位且为数字");break;
                    case "f2" : case "f10" : case "f13" : case "f14" :
                        alert("操作异常");break;
                    case "f3" : alert("验证码不能为空");break;
                    case "f4" : alert("支付密码错误");break;
                    case "f11" : alert("余额不足");break;
                    case "f12" : case "f15" : case "f17" : case "f18" : case "f19" : case "f20" :
                        alert("系统错误");break;
                    case "f16" : alert("库存不足");break;
                    default: console.log(data);break;
                }
            },
            error: function (data) {

            }
        })
    }
    function notPay() {
        window.location.href = [[${requestURL}]];
    }
</script>
</html>