<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>两个人商城</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" style="text-align: center">
            <h1>这是注册</h1><a href="toIndex">返回主页</a>
        </div>
        <div id="show" class="col-sm-6 col-sm-offset-3">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">用户名:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="username" id="username" placeholder="username"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">密码:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rePassword" class="col-sm-2 control-label">确认密码:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="rePassword" placeholder="RePassword"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="authCode" class="col-sm-2 control-label">验证码</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="authCode" id="authCode" placeholder="authCode"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-default" onclick="registration()">注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

<script type="text/javascript">
function registration() {
    var returnData;
    var username =  $("#username").val();
    var password = $("#password").val();
    var rePassword = $("#rePassword").val();
    var authCode = $("#authCode").val();
    username == "" ? alert("用户名不能为空") :
        password == "" ? alert("密码不能为空") :
            rePassword == "" ? alert("确认密码不能为空") :
                rePassword != password ? alert("两次密码输入不一致") :
                    authCode == "" ? alert("验证码不能为空") :
                        returnData = 1;
    if (returnData != 1) {
        return null;
    }
    $.ajax({
        url : "/registration.do",
        type : "post",
        data : {
            "username" : username,
            "password" : password,
            "authCode" : authCode
        },
        success : function (data) {
            data == -1 ? alert("用户名或密码不能为空") :
                data == 0 ? alert("用户名已存在") :
                    window.location.href = "toIndex";
        },
        errer : function (data) {

        }
    })
}
</script>
</html>