<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>两个人商城</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">
<div class="row">
    <div class="col-sm-12" style="text-align: center"><h1>这是卖家中心</h1></div>
    <div id="show" class="col-sm-12" style="text-align: center">test1</div>
    <div id="show1" class="col-sm-3" style="background-color: #bff7ff">test1</div>
    <div id="show2" class="col-sm-3" style="background-color: #85c5ff">test2</div>
    <div id="show3" class="col-sm-3" style="background-color: #59aaff">test3</div>
    <div id="show4" class="col-sm-3" style="background-color: #3176ff">test4</div>
    <div id="show5" class="col-sm-3" style="background-color: #d5ffbf">test5</div>
    <div id="show6" class="col-sm-3" style="background-color: #bcff84">test6</div>
    <div id="show7" class="col-sm-3" style="background-color: #93ff49">test7</div>
    <div id="show8" class="col-sm-3" style="background-color: #08ff0d">test8</div>
</div>
</div>

</body>

<script type="text/javascript">

</script>
</html>