<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>两个人商城</title>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/js/layer.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <style type="text/css" rel="stylesheet">
    /* 需要在 bootstrap.css 之后调用 */
    /* Fuck 15px for iPhone Start */
    .row {
      margin: 0;
    }

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
      padding: 0;
    }

    #show1, #show2, #show3, #show4, #show5, #show6 {
      padding: 20px;
    }

    .buttonDiv a, .buttonDiv button {
      margin-bottom: 10px;
    }

    /* Fuck 15px for iPhone Over */
  </style>
</head>
<body>
<div class="container">
  <div class="row">
    <div shiro:user="" style="text-align: center" class="col-xs-2">
      <span>已登录</span>
      <a href="logout">注销</a>
    </div>
    <div shiro:guest="" class="col-xs-3" style="text-align: left">
      <span>未登录</span><br/>
      <a shiro:guest="" href="toLogin">登陆</a>
      <a shiro:guest="" href="toRegistration">注册</a>
    </div>
    <div class="col-xs-9" style="text-align: right">
      <a href="toIndex">主页</a>
      <a shiro:user="" href="toCart">购物车</a>
      <a shiro:user="" href="toCollect">我的收藏</a>
      <a shiro:user="" href="toUser">个人中心</a>
      <br/>
      <a shiro:hasRole="seller" href="toMyShop">我的店铺</a>
      <a style="margin-right: 4px;" href="toSeller">卖家中心</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="text-align: center;"><h1>个人中心</h1></div>
    <div class="col-sm-4 col-sm-offset-1 col-xs-12" id="show1" style="background-color: #f5f5f5;">
      <form class="form-horizontal">
        <input type="hidden" name="_method" value="put"/>
        <!--隐藏域username-->
        <input th:value="${#httpSession.getAttribute('userId')}" type="hidden" name="userId" id="userId"
               readonly="readonly"/>
        <div class="form-group">
          <label for="nickname" class="col-sm-2 control-label">昵称:</label>
          <div class="col-sm-10">
            <input th:value="${user.getNickname() != null ? user.getNickname() : ''}" type="text"
                   class="form-control"
                   name="nickname" id="nickname" placeholder="nickname"/>
          </div>
        </div>
        <div class="form-group">
          <label for="realname" class="col-sm-2 control-label">真实姓名:</label>
          <div class="col-sm-10">
            <input th:value="${user.getRealName() != null ? user.getRealName() : ''}" type="text"
                   class="form-control"
                   name="realName" id="realName" placeholder="realName"/>
          </div>
        </div>
        <div class="form-group">
          <label for="genderStr" class="col-sm-2 control-label">性别:</label>
          <div class="col-sm-10">
            <input th:value="${user.getGenderStr() != null ? user.getGenderStr() : ''}" type="text"
                   class="form-control"
                   name="genderStr" id="genderStr" placeholder="gender"/>
          </div>
        </div>
        <div class="form-group">
          <label for="phone" class="col-sm-2 control-label">手机号码:</label>
          <div class="col-sm-10">
            <input th:value="${user.getPhone() != null ? user.getPhone() : ''}" type="text"
                   class="form-control"
                   name="phone" id="phone" placeholder="phone" readonly="readonly"/>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">邮箱:</label>
          <div class="col-sm-10">
            <input th:value="${user.getEmail() != null ? user.getEmail() : ''}" type="email"
                   class="form-control"
                   name="email" id="email" placeholder="E-mail" readonly="readonly"/>
          </div>
        </div>
        <div class="form-group">
          <label for="birthday" class="col-sm-2 control-label">生日日期:</label>
          <div class="col-sm-10">
            <input th:value="${user.getBirthday() != null ? #dates.format(user.getBirthday(),'yyyy-MM-dd') : ''}"
                   type="date" class="form-control" name="birthday" id="birthday" placeholder="birthday"/>
          </div>
        </div>
        <div class="form-group">
          <label for="liveaddress" class="col-sm-2 control-label">居住地址:</label>
          <div class="col-sm-10">
            <input th:value="${user.getLiveaddress() != null ? user.getLiveaddress() : ''}" type="text"
                   class="form-control" name="liveaddress" id="liveaddress" placeholder="liveaddress"/>
          </div>
        </div>
        <div class="form-group">
          <label for="homeaddress" class="col-sm-2 control-label">家庭地址:</label>
          <div class="col-sm-10">
            <input th:value="${user.getHomeaddress() != null ? user.getHomeaddress() : ''}" type="text"
                   class="form-control" name="homeaddress" id="homeaddress" placeholder="homeaddress"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-default" onclick="change(this)">保存修改</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-2 col-xs-3 text-center buttonDiv">
      <a shiro:user="" href="toOrder">我的订单</a><br/>
      <button class="btn btn-default" onclick="moneyDiv()">查看余额</button>
      <button class="btn btn-default" onclick="passwordDiv()">修改登录密码</button>
      <button class="btn btn-default" onclick="payDiv()">修改支付密码</button>
      <button class="btn btn-default" onclick="changeReceivingDiv()">查看/修改收货地址</button>
      <button class="btn btn-default" onclick="addReceivingDiv()">新增收货地址</button>
    </div>
    <div id="addDiv" class="col-sm-5 col-xs-12"
         style="padding: 20px 40px 0px 40px;background-color: #ebebeb;height: 500px"></div>
    <div id="show2" style="display:none;">
      <form class="form-horizontal">
        <input type="hidden" name="_method" value="put"/>
        <div class="form-group">
          <label for="password" class="col-sm-2 control-label">原密码:</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" name="password" id="password"
                   placeholder="old password"/>
          </div>
        </div>
        <div class="form-group">
          <label for="newPassword" class="col-sm-2 control-label">新密码:</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" name="newPassword" id="newPassword"
                   placeholder="new password"/>
          </div>
        </div>
        <div class="form-group">
          <label for="reNewPassword" class="col-sm-2 control-label">再次输入:</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="reNewPassword" placeholder="new password"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-default" onclick="changePassword(this)">修改密码</button>
          </div>
        </div>
      </form>
    </div>
    <div id="show3" style="display:none;">
      <form class="form-horizontal">
        <input type="hidden" name="_method" value="put"/>
        <div class="form-group">
          <label for="paymentPassword" class="col-sm-2 control-label">支付密码:</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" name="paymentPassword" id="paymentPassword"
                   placeholder="如果未设置此栏不填"/>
          </div>
        </div>
        <div class="form-group">
          <label for="newPaymentPassword" class="col-sm-2 control-label">新支付密码:</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" name="newPaymentPassword" id="newPaymentPassword"
                   placeholder="new payment password"/>
          </div>
        </div>
        <div class="form-group">
          <label for="reNewPaymentPassword" class="col-sm-2 control-label">再次输入:</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="reNewPaymentPassword"
                   placeholder="new password"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-default" onclick="changePaymentPassword(this)">修改密码
            </button>
          </div>
        </div>
      </form>
    </div>
    <div id="show4" style="display:none;">
      <div>
        <span>当前余额:</span><span th:text="${user.getMoney()}"></span>
        <a href="toRecharge?shopId=">充值</a>
      </div>
    </div>
    <div id="show5" style="display:none;">
      <form th:each="receivingAddressVO : ${receivingAddressVOList}" class="form-horizontal">
        <!--<a th:href="@{'toMyShopGoods/' + ${shopVO.getShopId()}}">前往</a><br/>-->
        <!--隐藏域 receivingAddressId-->
        <input th:value="${receivingAddressVO.getReceivingAddressId()}" type="hidden" id="receivingAddressId"
               name="receivingAddressId"/>
        <div class="form-group">
          <label for="receivingName" class="col-sm-2 control-label">收货人:</label>
          <div class="col-sm-10">
            <input
                th:value="${receivingAddressVO.getReceivingName() != null ? receivingAddressVO.getReceivingName() : ''}"
                type="text"
                class="form-control"
                name="receivingName" id="receivingName" placeholder="name of receiving thing"/>
          </div>
        </div>
        <div class="form-group">
          <label for="area" class="col-sm-2 control-label">地区:</label>
          <div class="col-sm-10">
            <input th:value="${receivingAddressVO.getArea() != null ? receivingAddressVO.getArea() : ''}"
                   type="text" class="form-control"
                   name="area" id="area" placeholder="地区,如四川成都市武侯区等"/>
          </div>
        </div>
        <div class="form-group">
          <label for="address" class="col-sm-2 control-label">详细地址:</label>
          <div class="col-sm-10">
            <input th:value="${receivingAddressVO.getAddress() != null ? receivingAddressVO.getAddress() : ''}"
                   type="text"
                   class="form-control"
                   name="address" id="address" placeholder="详细地址,如xxx街xxx路xxx小区xxx幢xxx单元xxx楼"/>
          </div>
        </div>
        <div class="form-group">
          <label for="receivingPhone" class="col-sm-2 control-label">手机号码:</label>
          <div class="col-sm-10">
            <input
                th:value="${receivingAddressVO.getPhone() != null ? #numbers.formatDecimal(receivingAddressVO.getPhone(),11,0) : ''}"
                type="number"
                class="form-control"
                name="phone" id="receivingPhone" placeholder="phone of receiving person"/>
          </div>
        </div>
        <div class="form-group">
          <label for="postCode" class="col-sm-2 control-label">邮政编码:</label>
          <div class="col-sm-10">
            <input
                th:value="${receivingAddressVO.getPostCode() != null ? #numbers.formatDecimal(receivingAddressVO.getPostCode(),6,0) : ''}"
                type="number" class="form-control" name="postCode" id="postCode"
                placeholder="Post Code"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-default" th:onclick="'changeReceivingAddress(this)'">保存修改
            </button>
            <button type="button" class="btn btn-default"
                    th:onclick="'deleteReceivingAddress('+${receivingAddressVO.getReceivingAddressId()}+')'">
              删除收货地址
            </button>
          </div>
        </div>
      </form>
    </div>
    <div id="show6" style="display:none;">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="receivingNameAdd" class="col-sm-2 control-label">收货人:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="receivingName" id="receivingNameAdd"
                   placeholder="name of receiving thing"/>
          </div>
        </div>
        <div class="form-group">
          <label for="areaAdd" class="col-sm-2 control-label">地区:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="area" id="areaAdd" placeholder="地区,如四川成都市武侯区等"/>
          </div>
        </div>
        <div class="form-group">
          <label for="addressAdd" class="col-sm-2 control-label">详细地址:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="address" id="addressAdd"
                   placeholder="详细地址,如xxx街xxx路xxx小区xxx幢xxx单元xxx楼"/>
          </div>
        </div>
        <div class="form-group">
          <label for="receivingPhoneAdd" class="col-sm-2 control-label">手机号码:</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" name="phone" id="receivingPhoneAdd"
                   placeholder="phone of receiving person"/>
          </div>
        </div>
        <div class="form-group">
          <label for="postCodeAdd" class="col-sm-2 control-label">邮政编码:</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" name="postCode" id="postCodeAdd"
                   placeholder="Post Code"/>
          </div>
        </div>
        <div id="authCodeDivAdd" class="form-group">
          <label for="authCodeAdd" class="col-sm-2 control-label">验证码</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="authCode" id="authCodeAdd"
                   placeholder="authCode"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-default" th:onclick="'addReceivingAddress(this)'">确认添加
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
<script type="text/javascript">
    var $moneyDiv = $("#show4>div");
    var $passwordDiv = $("#show2>form");
    var $payDiv = $("#show3>form");
    var $changeReceivingDiv = $("#show5>form");
    var $addReceivingDiv = $("#show6>form");

    function moneyDiv() {
        $("#addDiv").html($moneyDiv[0]);
    }

    moneyDiv();

    function passwordDiv() {
        $("#addDiv").html($passwordDiv[0]);
    }

    function payDiv() {
        $("#addDiv").html($payDiv[0]);
    }

    function changeReceivingDiv() {
        $("#addDiv").html($changeReceivingDiv[0]);
    }

    function addReceivingDiv() {
        $("#addDiv").html($addReceivingDiv[0]);
    }


    function changePaymentPassword(node) {
        var formNode = $(node).parent().parent().parent();
        var formData = formNode.serialize();
        if ($("#newPaymentPassword").val() != $("#reNewPaymentPassword").val()) {
            layer.msg("两次密码不一致");
            return null;
        }
        $.ajax({
            url: "/changePaymentPassword.do",
            type: "put",
            data: formData,
            success: function (data) {
                //1:修改成功 --- f+ 0:session中没有userId 1:支付密码错误 2:修改失败 3:不是6位纯数字
                switch (data) {
                    case "1" : {
                        layer.msg("修改成功");
                        window.location.reload();
                    }
                        break;
                    case "f0" : {
                        layer.msg("未登录,请登陆");
                        window.location.href = "toLogin";
                    }
                        break;
                    case "f1" :
                        layer.msg("支付密码错误");
                        break;
                    case "f2" :
                        layer.msg("修改失败");
                        break;
                    case "f3" :
                        layer.msg("支付密码为6位纯数字");
                        break;
                    default :
                        layer.msg("不可预料错误");
                        break;
                }
            },
            error: function (data) {
            }
        })
    }

    function changePassword(node) {
        var formNode = $(node).parent().parent().parent();
        var formData = formNode.serialize();
        if ($("#newPassword").val() != $("#reNewPassword").val()) {
            layer.msg("两次密码不一致");
            return null;
        }
        $.ajax({
            url: "/changePassword.do",
            type: "put",
            data: formData,
            success: function (data) {
                //1:修改成功 --- f+ 0:session中没有userId 1:密码错误 2:修改失败
                switch (data) {
                    case "1" : {
                        layer.msg("修改成功");
                        window.location.reload();
                    }
                        break;
                    case "f0" : {
                        layer.msg("未登录,请登陆");
                        window.location.href = "toLogin";
                    }
                        break;
                    case "f1" :
                        layer.msg("密码错误");
                        break;
                    case "f2" :
                        layer.msg("修改失败");
                        break;
                    default :
                        layer.msg("不可预料错误");
                        break;
                }
            },
            error: function (data) {
            }
        })
    }


    function change(node) {
        var formNode = $(node).parent().parent().parent();
        var formData = formNode.serialize();
        $.ajax({
            url: "/userUpdate.do",
            type: "put",
            data: formData,
            success: function (data) {
                if (data == 0) {
                    layer.msg("修改失败");
                } else {
                    layer.msg("修改成功");
                    window.location.reload();
                }
            },
            error: function (data) {
            }
        })
    }

    function changeReceivingAddress(node) {
        var formNode = $(node).parent().parent().parent();
        if (isNaN(Number(formNode.find("#receivingPhone").val()))) {
            layer.msg("手机号码只能是数字");
            return null;
            //data是纯数字
        }
        if (isNaN(Number(formNode.find("#postCode").val()))) {
            layer.msg("邮政编码只能是数字");
            return null;
            //data是纯数字
        }
        var formData = formNode.serialize();
        $.ajax({
            url: "receivingAddressUpdate.do",
            type: "put",
            data: formData,
            success: function (data) {
                //1:添加成功 --- f+ 1:信息填写不完整 2:session中没找到userId 3:手机不是数字 4:手机长度不对 5:邮政编码长度不对 10:未找到user 12:添加收货地址失败
                switch (data) {
                    case "1": {
                        layer.msg("修改成功");
                        window.location.reload();
                        return null;
                    }
                        break;
                    case "f1":
                        layer.msg("未正确传入参数");
                        break;
                    case "f2":
                        layer.msg("登录已失效,请先登录");
                        break;
                    case "f3":
                    case "f4":
                        layer.msg("手机号码只能是数字,且为11位数");
                        break;
                    case "f5":
                        layer.msg("邮政编码只能是数字,且为6位数");
                        break;
                    case "f10":
                        layer.msg("未正确找到该收货地址,请正确操作");
                        break;
                    case "f11":
                        layer.msg("修改失败");
                        break;
                    default :
                        break;
                }
            },
            error: function (data) {

            }
        })
    }

    function addReceivingAddress(node) {
        var formNode = $(node).parent().parent().parent();
        if (isNaN(Number(formNode.find("#receivingPhoneAdd").val()))) {
            layer.msg("手机号码只能是数字");
            return null;
            //data是纯数字
        }
        if (isNaN(Number(formNode.find("#postCodeAdd").val()))) {
            layer.msg("邮政编码只能是数字");
            return null;
            //data是纯数字
        }
        /*Number();*/
        var $authCode = $("#authCodeAdd");
        if ($authCode.val() == null || $authCode.val() == "") {
            layer.msg("请输入验证码");
            return null;
        }
        var formData = formNode.serialize();
        $.ajax({
            url: "addReceivingAddress.do",
            type: "post",
            data: formData,
            success: function (data) {
                //1:添加成功 --- f+ 1:信息填写不完整 2:session中没找到userId 3:手机不是数字 4:手机长度不对 5:邮政编码长度不对 10:未找到user 12:添加收货地址失败
                switch (data) {
                    case "1": {
                        layer.msg("修改成功");
                        window.location.reload();
                        return null;
                    }
                        break;
                    case "f1":
                        layer.msg("未正确传入参数");
                        break;
                    case "f2":
                        layer.msg("登录已失效,请先登录");
                        break;
                    case "f3":
                    case "f4":
                        layer.msg("手机号码只能是数字,且为11位数");
                        break;
                    case "f5":
                        layer.msg("邮政编码只能是数字,且为6位数");
                        break;
                    case "f10":
                        layer.msg("未正确找到该收货地址,请正确操作");
                        break;
                    case "f11":
                        layer.msg("修改失败");
                        break;
                    default :
                        break;
                }
            },
            error: function (data) {

            }
        })
    }

    function deleteReceivingAddress(receivingAddressId) {
        if (!confirm("确认删除?")) {
            return null;
        }
        $.ajax({
            url: "deleteReceivingAddress.do/" + receivingAddressId,
            type: "delete",
            success: function (data) {
                // 0删除失败 1删除成功 2未登录 3.参数receivingAddressId为空
                switch (data) {
                    case 0 :
                        layer.msg("删除失败");
                        break;
                    case 1 : {
                        layer.msg("删除成功");
                        window.location.reload();
                    }
                        break;
                    case 2 : {
                        layer.msg("未登录,请先登录");
                        window.location.href = "toLogin";
                    }
                        break;
                    case 3 :
                        layer.msg("操作异常");
                        break;
                    default :
                        break;
                }

            },
            error: function (data) {

             }
        })
    }
</script>
</html>